* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CurrencyMain {
    height: 100vh;
    background-image: url("./assets/wall.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}